<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leo Mattioli - Compra</title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/buy.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/navigation') %>

    <header class="container d-flex justify-content-start align-items-center" style="height: 85vh;">
        
        <div class="caja">
            <div class="containerImagen">
                <img class="imagenDelProd" src=<%= data.imagen %>>
            </div>
            <div class="datos">
                <h1 class="tituloproducto"><%= data.nombre %></h1>
                <div class="cod">
                    <h3 class="codigo"><i>Código art.: <%= data.id %></i></h1>
                    <h3><i> <%= data.categ %></i></h1>
                </div>
                <h1>$<%= data.precio %></h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisiam minus praesentium dolore recusandae voluptates rem facilis, mollitia commodi quam neque repudiandae nesciunt ipsum architecto vero?</p>
                <!-- <div class="cantidad">
                    <label>Cantidad: </label> <input type="number" class="inputCant">
                </div> -->
                <div class="cantidad">
                    <label>Cantidad: </label> 
                    <div class="sumadores">
                        <button class="restar mod">-</button>
                        <div class="totalprod">
                            0
                        </div>
                        <button class="sumar mod">+</button>
                    </div>
                </div>
                
                <div class="envio">
                    <h3><i>Envío gratis</i></h3>
                </div>
                <!-- <form action=""> -->
                    <div class="botones">
                        <button onclick="confirmar('<%= data.id %>')" class="comprar">Comprar</button> 
                        <a onclick="window.location.href = '/shop'" class="cancel">Volver</a>
                    </div>
                <!-- </form>               -->
            </div>
        </div>
    </header>

    <script>
        let cant = 0
        const sumarProd = () =>{
            console.log(cant)
            const contenedor = document.querySelector(".totalprod");

            let sumar = document.querySelector('.sumar')                    
            let restar = document.querySelector('.restar')

            sumar.addEventListener("click", ()=>{
                cant = cant + 1
                nuevoContenido = `<p>${cant}</p>`;
                contenedor.innerHTML = nuevoContenido.trim()
            })

            restar.addEventListener("click", ()=>{
                if (cant > 0){
                    cant = cant - 1
                    
                }
                nuevoContenido = `<p>${cant}</p>`;
                contenedor.innerHTML = nuevoContenido.trim()
                
            })


        }   

        sumarProd()
        



        function confirmar(id) { 
            // let precio = document.querySelector('.inputCant')

            if (cant <= 0){
                Swal.fire('Debes indicar una cantidad antes de comprar.')
            }
            else{
                Swal.fire({
                title: '¿Pasar a finalizar compra?',
                text: `Comprarás ${cant} productos.`,
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#75a147',
                cancelButtonColor: '#2b2d42',
                confirmButtonText: 'Comprar',cancelButtonText: 'Volver'
                }).then((result) => {
                if (result.isConfirmed) {
                    location.href='/purchase/' + id
                }
                })
            } 
            }


            
    </script>


    <%- include('partials/footer') %>


    
</body>  
</html>